@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;400;500;600;800&display=swap');
body{
height: 100%;
background-color:  white;
font-family: 'Prompt', sans-serif;
}
p{
    line-height: 2;
}
h1{
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
    color:#015C91;
}
h5{
    line-height: 2;
    font-weight: 500;
}
hr{
    padding: 0px 100px 0px 100px;
    border: 1px solid black;
}
li{
    font-size: 18px;
}


/*------------------Research publication------------------*/
.rp_content{
    margin-top: 40px;
}
.title{
    margin-top: 40px;
}
.text_left{
padding-right: 30px;
    border-right: 1px solid;
}
.rp_outside_link{
    color:#015C91;
}
.rp_outside_link:hover{
    color: #53A6D8;
    transition: 0.3s;
}
.text_right{
    padding-left: 30px;
}
.Figure1{
    max-width: 100%;
}
.Figure2{
    max-width: 100%;
}
/*---------------Other publications---------------------*/
.all_publication{
    margin-top: 80px;
}
.op_content{
    margin-top: 20px;
}
.line_year{
    width:50%;
    height: 1px;
    background: black;
}



/*---------------Responsive design---------------------*/
@media (max-width: 1920px){
    .figure3_content{
        display: flex;
        flex-direction: column;
    }  
    .figure3_img, .figure3_text{
        width: 100%;
    }
}
@media (max-width: 1600px){
    .rp_content{
        display: flex;
        flex-direction: column;
    }
    .text_left{
        width: 100%;
        border-right: 0px;
    }
    .Figure1{
        max-width: 70%;
    }
    .text_right{
        width:100%;
    }
    .text_right_content{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .figure3_content{
        display: flex;
        flex-direction: column;
    }
    .figure3_img, .figure3_text{
        width: 100%;
    }
}
@media (max-width: 992px){
    .customized_container{
        padding: 30px;
    }
    .Research_publications_container{
        padding: 30px; 
    }
}
